.form-box {
	/* padding-top: 40px; */
	/* padding-bottom: 40px; */
}

.form-wizard_2 {
	font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #333;
    line-height: 30px;
    text-align: center;
	padding: 20px;
}
	
.form-wizard_2 strong { font-weight: bold; }

.form-wizard_2 a, .form-wizard_2 a:hover, .form-wizard_2 a:focus {
	color: #fbc318;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.form-wizard_2 h1, .form-wizard_2 h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

.form-wizard_2 h3 {
	font-size: 25px;
    font-weight: 300;
    color: #fbc318;
    line-height: 30px;
	margin-top: 0; 
	margin-bottom: 5px; 
	text-transform: uppercase; 
}

.form-wizard_2 h4 {
	float:left;
	font-size: 20px;
    font-weight: 300;
    color: #fbc318;
    line-height: 26px;
	width:100%;
}
.form-wizard_2 h4 span {
	float:right;
	font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
}

.form-wizard_2 table tr th{font-weight:normal;}

.form-wizard_2 img { max-width: 100%; }

@media (max-width: 991px) {
	.form-wizard_2 img { margin: 0 auto 15px; }
}

.form-wizard_2 ::-moz-selection { background: #fbc318; color: #fff; text-shadow: none; }
.form-wizard_2 ::selection { background: #fbc318; color: #fff; text-shadow: none; }


.form-control {
	height: 44px;
	width:100%;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
	/* position: absolute; */
	/* margin-top: 9px; */
	/* margin-left: -20px; */
}

/* input radio style */
.control {
  display: block;
  position: relative;
  padding: 10px;
  color: #fff !important;
  background: #fbc318;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
.control:hover {
  background: #c39403;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  /*background: #e6e6e6;*/
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  /*background: #ccc;*/
}
.control input:checked ~ .control__indicator {
  /*background: #2aa1c0;*/
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  /*background: #0e647d;*/
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  /*background: #fff;*/
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
/* end input radio style */

.form-control option:hover, .form-control option:checked  {
    box-shadow: 0 0 10px 100px #fbc318 inset;
}

.form-control:focus {
	outline: 0;
	background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-control:-moz-placeholder { color: #888; }
.form-control:-ms-input-placeholder { color: #888; }
.form-control::-webkit-input-placeholder { color: #888; }

.form-wizard_2 label { color:#555; font-weight: bold; }
.form-wizard_2 label span { color:#fbc318; }


.form-wizard_2 .btn {
	min-width: 105px;
	height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
	background: #fbc318;
    color: #000;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.form-wizard_2 .btn:active { 
	outline: 0; 
	background:#f34727; 
	color: #fff; 
	-moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none; 
	}
.form-wizard_2 .btn:focus,
.form-wizard_2 .btn:active:focus,
.form-wizard_2 .btn.active:focus { 
	outline: 0; 
	background:#f34727; 
	color: #fff; 
}

.form-wizard_2 .btn.btn-next,
.form-wizard_2 .btn.btn-next:focus,
.form-wizard_2 .btn.btn-next:active:focus, 
.form-wizard_2 .btn.btn-next.active:focus { 
	background: #fbc318; 
}

.form-wizard_2 .btn.btn-submit,
.form-wizard_2 .btn.btn-submit:focus,
.form-wizard_2 .btn.btn-submit:active:focus, 
.form-wizard_2 .btn.btn-submit.active:focus { 
	background: #fbc318; 
}

.form-wizard_2 .btn.btn-previous,
.form-wizard_2 .btn.btn-previous:focus,
.form-wizard_2 .btn.btn-previous:active:focus, 
.form-wizard_2 .btn.btn-previous.active:focus { 
	background: #bbb;
}

.btn.btn-next:hover,
.btn.btn-submit:hover { 
	background: #c39403;
	color: #fff;
}
.btn.btn-previous:hover { 
	background: #777;
	color: #fff;
}

@media (max-width: 440px) {
	.btn.btn-next,
	.btn.btn-previous,
	.btn.btn-submit { width: 100%; margin-bottom: 10px; }
}

.form-wizard_2 .success h3{
	color: #4F8A10;
	text-align: center;
	margin: 20px auto !important;
}
.form-wizard_2 .success .success-icon {
	color: #4F8A10;
	font-size: 100px;
	/* border: 5px solid #4F8A10; */
	/* border-radius: 100px; */
	text-align: center !important;
	/* width: 110px; */
	margin: 25px auto;
}
.form-wizard_2 .progress-bar {
	background-color: #fbc318;
}

.form-wizard_2-steps{ 
	margin:auto; 
	overflow: hidden; 
	position: relative; 
	margin-top: 20px;
}

.form-wizard_2-progress { 
	position: absolute; 
	top: 24px; 
	left: 0; 
	width: 100%; 
	height: 1px; 
	background: #ddd;
}
.form-wizard_2-progress-line { 
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 1px; 
	background: #fbc318; 
}

.form-wizard_2-tolal-steps-3 .form-wizard_2-step { 
	position: relative;
	float: left; 
	width: 33.33%; 
	padding: 0 5px; 
}
.form-wizard_2-tolal-steps-4 .form-wizard_2-step { 
	position: relative; 
	float: left; 
	width: 25%; 
	padding: 0 5px; 
}
.form-wizard_2-tolal-steps-5 .form-wizard_2-step { 
	position: relative;
	float: left;
	width: 20%;
	padding: 0 5px;
}

.form-wizard_2-step-icon {
	display: inline-block;
	width: 40px; 
	height: 40px; 
	margin-top: 4px; 
	background: #ddd;
	font-size: 16px; 
	color: #fff; 
	line-height: 40px;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
}
.form-wizard_2-step-icon i { margin-top: 10px; }
.form-wizard_2-step.activated .form-wizard_2-step-icon {
	background: #fff; 
	border: 1px solid #fbc318; 
	color: #fbc318; 
	line-height: 38px;
}
.form-wizard_2-step.active .form-wizard_2-step-icon {
	width: 48px; 
	height: 48px; 
	margin-top: 0; 
	background: #fbc318; 
	font-size: 22px; 
	line-height: 48px;
}
.form-wizard_2-step.active .form-wizard_2-step-icon i { margin-top: 13px; }

.form-wizard_2-step p { color: #ccc; }
.form-wizard_2-step.activated p { color: #fbc318; }
.form-wizard_2-step.active p { color: #fbc318; }

@media (max-width: 650px) {
	.form-wizard_2-step { margin-bottom: 20px; }
	.form-wizard_2-step p { display: none; }
}

.form-wizard_2 fieldset { 
	display: none; 
	text-align: left; 
	border:0px !important
}

.form-wizard_2-buttons {
	margin-top: 20px;
	text-align: right;
}

.form-wizard_2 .input-error { border-color: #fbc318;}

/** image uploader **/
.image-upload a[data-action] {
  cursor: pointer;
  color: #555;
  font-size: 18px;
  line-height: 24px;
  transition: color 0.2s;
}
.image-upload a[data-action] i {
  width: 1.25em;
  text-align: center;
}
.image-upload a[data-action]:hover {
  color: #fbc318;
}
.image-upload a[data-action].disabled {
  opacity: 0.35;
  cursor: default;
}
.image-upload a[data-action].disabled:hover {
  color: #555;
}
.settings_wrap{
	margin-top:20px;
}
.image_picker .settings_wrap {
  overflow: hidden;
  position: relative;
}
.image_picker .settings_wrap .drop_target,
.image_picker .settings_wrap .settings_actions {
  float: left;
}
.image_picker .settings_wrap .drop_target {
  margin-right: 18px;
}
.image_picker .settings_wrap .settings_actions {
	float: left;
	margin-top: 100px;
	margin-left: 20px;
}
.settings_actions.vertical a {
  display: block;
}
.drop_target {
	position: relative;
	cursor: pointer;
	transition: all 0.2s;
    width: 250px;
    height: 250px;
    background: #f2f2f2;
    border-radius: 100%;
    margin: 0 auto 25px auto;
    overflow: hidden;
    border: 8px solid #E0E0E0;
}
.drop_target input[type="file"] {
  visibility: hidden;
}
.drop_target::before {
	content: 'Drop Hear';
	font-family: FontAwesome;
	position: absolute;
	display: block;
	width: 100%;
	line-height: 220px;
	text-align: center;
	font-size: 40px;
	color: rgba(0, 0, 0, 0.3);
	transition: color 0.2s;
}
.drop_target:hover,
.drop_target.dropping {
  background: #f80;
  border-top-color: #cc6d00;
}
.drop_target:hover:before,
.drop_target.dropping:before {
  color: rgba(0, 0, 0, 0.6);
}
.drop_target .image_preview {
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
  position: relative;
  z-index: 2;
}
